header{
    margin: -10px;
    background-color: #DDD9C5;
    align-items: center;
    display: flex;
    justify-content: space-around
}

.douglas-barra{
    width: 30%;
    background-color: #DDD9C5;
    align-items: center;
    display: flex;
    padding: 35px;
}

body{
    background-color: #261A32;
}